* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #407bff;
}

.navbar {
  background-color: var(--primary-blue);
  color: #fefefe;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigasi {
  display: flex;
  gap: 10px;
}

.navigasi .login {
  background-color: white;
  color: var(--primary-blue);
  padding: 8px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigasi .register {
  background-color: #ffb325;
  color: var(--primary-blue);
  padding: 8px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigasi .dashboard {
  background-color: rgb(84, 169, 234);
  color: white;
  padding: 8px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Content */
.content {
  margin-top: 20px;
}
div .card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card {
  width: 80%;
  background-color: #407bff;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  padding: 8px 13px;
  color: white;
}

.content-area {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 90px;
  }

  .content-area {
    grid-template-columns: repeat(3, 1fr);
  }
}
